<%- include("top") %>
        <h1>[user_name]'s collection</h1>

        <div class="container">
            <% albumdata.forEach( (album) => { %>
                <div class="simplecard">
                    <a href="/vinyl?vid=<%= album.album_id %>">
                        <div>
                            <img class="vinyl-img" src="<%= album.album_artwork_url %>" href="/vinyl">
                            <div class="title">
                                <%= album.album_name %>
                            </div>
                        </div>
                        </a>
                        <div>
                            <%= album.year %>
                        </div>
                    </a>
                </div>
          <%  }); %>
        </div>
    </body>
  
</html>
